{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <p >Login page</p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>


{% endblock %}