<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <style>
  body{
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
  }
  </style>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
